/* Принудительная светлая тема по классу от кнопки */
:root.theme-light {
  --bg-color: #ffffff; /* Замени на светлые цвета из Figma */
  --text-color: #000000;
  --accent-color: #ff8dcb;
  --decor-bg-color: #ff8dcb;
  --bg-image: url('../images/bg-light.jpg');
}

.theme-light .header__rec {
  display: none; /* В светлой теме REC скрыт */
}

/* Светлая тема по системным настройкам пользователя */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #ffffff; 
    --text-color: #000000;
    --accent-color: #ff8dcb;
    --decor-bg-color: #ff8dcb;
    --bg-image: url('../images/bg-light.jpg');
  }

  .header__rec {
    display: none;
  }
}
