:root {
  /* Шрифты */
  --main-font: 'Твой Шрифт Из Мактета', sans-serif;
  
  /* Цвета тёмной темы */
  --bg-color: #000000; /* Замени на цвет из Figma */
  --text-color: #ffffff; /* Замени на цвет из Figma */
  --accent-color: #ff0070; /* Замени на цвет из Figma */
  --decor-bg-color: #ff0070; /* Цвет фона для класса title-decor */
  
  /* Изображения */
  --bg-image: url('../images/bg-dark.jpg');
}
